<app-guest-header></app-guest-header>
<div class="showcase-container">
    <div class="div d-flex justify-content-center align-items-center h-100">
        <div class="card" [style.maxWidth]="'650px'">
            <div class="row">
                <div class="col-12 col-lg-5 bg-info d-none d-lg-block">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <img src="/assets/images/meditating-student.png" alt="meditating-student" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-lg-7 p-3">
                    <div class="card-body">
                        <h5 class="fw-bold text-center">Book Now for the Difference</h5>
                        <form>
                            <div class="form-group mt-3">
                                <label for="class">Class</label>
                                <select class="form-control" name="class" id="class">
                                    <option selected disabled value="">Select Class</option>
                                    <option value="8">Class 8</option>
                                    <option value="9">Class 9</option>
                                    <option value="10">Class 10</option>
                                    <option value="11">Class 11</option>
                                    <option value="12">Class 12</option>
                                </select>

                                <label for="subject" class="mt-3">Select Subject</label>

                                <select class="form-control" name="subject" id="subject">
                                    <option selected disabled value="">Select Subject</option>
                                    <option value="science">Science</option>
                                    <option value="maths">Maths</option>
                                    <option value="social-science">Social Science</option>
                                    <option value="english">English</option>
                                    <option value="hindi">Hindi</option>
                                </select>

                                <label for="topic" class="mt-3">Select Topic</label>

                                <select class="form-control" name="topic" id="topic">
                                    <option selected disabled value="">Select Topic</option>
                                    <option value="history">History</option>
                                    <option value="geography">Geography</option>
                                    <option value="civics">Civics</option>
                                    <option value="economics">Economics</option>
                                </select>

                                <div class="text-info pt-3">
                                    TRY NOW FOR FREE
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <a [routerLink]="['/student-signup']" class="btn btn-sm py-2 w-100 btn-lg btn-dark text-white mt-3 me-2">
                                            Join in Now
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a [routerLink]="['/student-signup']" class="btn btn-sm py-2 w-100 btn-lg btn-secondary text-black mt-3 me-2">
                                            Schedule for later
                                        </a>
                                    </div>
                                </div>

                                <h5 class="fw-light py-3">Other Resources:</h5>
                                <div class="row">
                                    <div class="col px-3">
                                        <a
                                            [routerLink]="['/join-in']"
                                            class="text-dark text-decoration-none"
                                        >
                                            <div class="row">
                                                <div class="col-auto">
                                                    <img src="/assets/icons/graduation-hat.png" alt="graduation-hat" [style.width]="'50px'">
                                                </div>
                                                <div class="col">
                                                    <div class="d-flex align-items-center h-100">
                                                        About us
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col px-3">
                                        <div class="row">
                                            <div class="col-auto">
                                                <img src="/assets/icons/books.png" alt="books" [style.width]="'50px'">
                                            </div>
                                            <div class="col">
                                                <div class="d-flex align-items-center h-100">
                                                    E-Books
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-guest-footer></app-guest-footer>