<div class="row mb-2">
    <div class="col-12 col-lg-4 mb-4">
        <a [routerLink]="['/class-details']" >
            <div class="cardcontainer">
                <div class="photo">
                    <img
                        src="https://images.unsplash.com/photo-1657548951227-fd776f7b96ab?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <div class="photos">Course</div>
                </div>
                <div class="content">
                    <p class="txt4">English Literature</p>
                    <p class="txt5">Understanding classic and modern texts</p>
                    <p class="txt2">Explore key themes, characters, and stylistic elements in English literature, from Shakespeare to contemporary works.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="cardcontainer">
            <div class="photo">
                <img
                    src="https://images.pexels.com/photos/256520/pexels-photo-256520.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
                <div class="photos">Course</div>
            </div>
            <div class="content">
                <p class="txt4">Physics</p>
                <p class="txt5">Fundamentals of the universe</p>
                <p class="txt2">Dive into the principles of motion, energy, and the laws governing the physical world, including mechanics and thermodynamics.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="cardcontainer">
            <div class="photo">
                <img
                    src="https://plus.unsplash.com/premium_photo-1673892648231-88125d7c7cb5?q=80&w=2500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <div class="photos">Course</div>
            </div>
            <div class="content">
                <p class="txt4">Chemistry</p>
                <p class="txt5">The science of substances</p>
                <p class="txt2">Learn about chemical reactions, bonding, atomic structure, and the principles governing the composition of matter.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="cardcontainer">
            <div class="photo">
                <img
                    src="https://plus.unsplash.com/premium_photo-1724266846299-2c4e63cdccd3?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <div class="photos">Course</div>
            </div>
            <div class="content">
                <p class="txt4">Mathematics</p>
                <p class="txt5">Numbers and equations</p>
                <p class="txt2">Explore topics ranging from algebra and calculus to statistics and geometry, and their applications in various fields.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="cardcontainer">
            <div class="photo">
                <img
                    src="https://plus.unsplash.com/premium_photo-1683121859548-b4514fa05e52?q=80&w=2898&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <div class="photos">Course</div>
            </div>
            <div class="content">
                <p class="txt4">Biology</p>
                <p class="txt5">The study of life</p>
                <p class="txt2">Understand the biological processes governing living organisms, including genetics, evolution, and cellular structure.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="cardcontainer">
            <div class="photo">
                <img
                    src="https://images.unsplash.com/photo-1504004581186-ec07a08d8256?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <div class="photos">Course</div>
            </div>
            <div class="content">
                <p class="txt4">History</p>
                <p class="txt5">Past, Present, and Future</p>
                <p class="txt2">Examine key historical events, civilizations, and cultural transformations that shaped the world we live in today.</p>
            </div>
        </div>
    </div>
</div>