<app-guest-header></app-guest-header>
<div class="showcase-container">
    <div class="row">
        <div class="col-12 col-lg-6 p-4">
            <div class="d-flex justify-content-center align-items-end">
                <img src="/assets/images/hand-holding-phone.png" alt="hand-holding-phone" class="img-fluid"
                    [style.width]="'515px'">
            </div>
        </div>
        <div class="col-12 col-lg-6 p-4">
            <div class="d-flex align-items-center h-100">
                <div class="text-white">
                    <h1 class="display-4 fw-bold">
                        Ankurshala: On
                        <br>
                        Demand Always
                    </h1>
                    <p>
                        Less stressed. More resilient. Happier. It all starts with just a few minutes a day.
                    </p>
                    <a [routerLink]="['/student-signup']" class="btn btn-lg btn-sm btn-light text-info me-2 py-3" [style.width]="'300px'">
                        Try For Free
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="why-ankurshala" class="py-5">
        <h2 class="display-3 fw-bold text-center pb-4">Why Ankurshala ?</h2>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="mt-5">
                        <div class="card border-0 shadow shadow-lg text-left m-3 p-4" [style.width]="'260px'">
                            <img src="/assets/icons/site.png" alt="site" class="card-img-top" [style.width]="'100px'">
                            <div class="card-body">
                                <h4 class="card-title">World-class content</h4>
                                <p class="card-text">Evidence-based, researched training programs designed with the support of globally recognised topic experts</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow shadow-lg text-left m-3 p-4" [style.width]="'260px'">
                            <img src="/assets/icons/site.png" alt="site" class="card-img-top" [style.width]="'100px'">
                            <div class="card-body">
                                <h4 class="card-title">Designed to drive results</h4>
                                <p class="card-text">All programs encourage a regular practice and integrate with the app's feedback tool to drive accountability</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card border-0 shadow shadow-lg text-left m-3 p-4" [style.width]="'260px'">
                            <img src="/assets/icons/site.png" alt="site" class="card-img-top" [style.width]="'100px'">
                            <div class="card-body">
                                <h4 class="card-title">Integrated learning</h4>
                                <p class="card-text">Videos, podcasts, other digital resources, practices and support functionalities to foster a developmental attitude</p>
                            </div>
                        </div>
                        <div class="card border-0 shadow shadow-lg text-left m-3 p-4" [style.width]="'260px'">
                            <img src="/assets/icons/site.png" alt="site" class="card-img-top" [style.width]="'100px'">
                            <div class="card-body">
                                <h4 class="card-title">Scalable</h4>
                                <p class="card-text">All digital programs come with a facilitator guide and offer a group learning experience for any leader or employee to facilitate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="p-5">
                        <h4 class="display-6">
                            Ankurshala is the brainchild of global mindfulness and leadership authority, Michael Bunting, who has spent the last 20 years teaching mindful leadership to some of the world's biggest companies.
                        </h4>
                        <p class="lead">
                            Michael's extensive experience and proven success in applying mindfulness to corporate leadership led him to create a solution that would fit the needs of any modern organisation...
                            <br>
                            As the most technically advanced wellbeing and growth app, Awakened Mind provides a business-ready platform for corporations looking to experience the game-changing benefits of integrated mindfulness practices. It's time to discover the power of the Awakened Mind App.
                        </p>
                        <a [routerLink]="['/student-signup']" class="btn btn-sm btn-light border border-info text-info me-2 p-3" [style.width]="'115px'">
                            Try For Free
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-guest-footer></app-guest-footer>